#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row{
  display: flex;
}


.items{
  display: flex;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80;
  cursor: pointer;
}